<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KTPomodoro WatchKit - Pomo Finished Notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KTPomodoro WatchKit - Task Finished Notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KTPomodoro WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KTPomodoro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E0F773D1A55D0CF0008C4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E0F774B1A55D0CF0008C4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF55C271A54DFC1002962DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF55C431A54DFC2002962DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
